@import './variables';

html {
  box-sizing: border-box;
  font-size: $font-size-default;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  color: $color-default;
  background-color: $primary-background;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.wrapper {
  margin: 0 20px;
}
