@import './variables';

@media screen and (max-width: 767px) {
  .search__filter-extended {
    flex-direction: column;

    .price {
      margin-bottom: $margin-bottom-media;
      max-width: 100%;
    }

    .footage {
      margin-left: 0;
      max-width: 100%;
    }
  }
}

@media screen and (max-width: 620px) {
  .filtermain {
    .button-find {
      width: 100%;
      border-radius: 3px;
    }
    .filtermain__select {
      margin-bottom: $margin-bottom-media;
    }
  }
}


@media screen and (max-width: 480px) {
  html {
    font-size: $font-size-media;
  }

  .filtername {
    flex-direction: column;
  }

  .filtername input {
    width: 100%;
  }

  .button-find, .button-find:active, .button-find:focus {
    font-size: $font-size-media;
    height: 35px;
    margin-top: 0;
    width: 100%;
  }

  .filtermain {
    flex-direction: column;
  }

  select {
    font-size: $font-size-media;
    margin-bottom: $margin-bottom-media-480;
    border-radius: 3px !important;
    min-width: 80%;
    padding-top: 9px;
    padding-bottom: 7px;
    padding-left: 15px;
  }

  input {
    font-size: $font-size-media;
    margin-bottom: $margin-bottom-media-480;
    border-radius: 3px !important;
    min-width: 80%;

    padding-top: 9px;
    padding-bottom: 7px;
    padding-left: 15px;
  }
  .footage__descr {
    margin-bottom: $margin-bottom-media-480;
    width: 35px;
  }

  .footer {
    flex-direction: column !important;

    .footer__left {

    }

    .footer__right {
      margin: 0 auto 0 0;
    }
  }

  .button-transparent {
    font-size: $font-size-media;
  }

  .wrapper {
    margin: 0 5px;
  }
}
