// font-size
$font-size-default: 16px;
$font-size-media: 14px;


// color
$color-default: #333333;

$primary-background: #FFF;
$search-background: #A3C6E8;
$search-footer-background: #E6F2FE;

$button-find-background: #5E9969;


//margin
$margin-bottom-media: 27px;
$margin-bottom-media-480: 17px;
