input {
  font-family: PT Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 13px;
  padding-bottom: 11px;
  padding-left: 21px;
  outline: none;
  color: $color-default;
  min-width: 100px;
}

input::placeholder {
  color: #798590;

}
