.material-switch > input[type="checkbox"] {
  display: none;
}

.material-switch > label {
  cursor: pointer;
  height: 0px;
  position: relative;
  width: 40px;
}

.material-switch > label::before {
  background: #5E9969;
  border-radius: 12px;
  content: '';
  height: 23px;
  margin-top: 0px;
  position:absolute;
  transition: all 0.4s ease-in-out;
  width: 41px;
}
.material-switch > label::after {
  background: rgb(255, 255, 255);
  border-radius: 16px;
  content: '';
  height: 19px;
  left: 2px;
  margin-top: 2px;
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 19px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
}
.material-switch > input[type="checkbox"]:checked + label::after {
  left: 20px;
}
