<template>
    <button class="button" :class="classButton" v-on:click="onClick">
        <span v-if="icon">
            <i class="button__icon" :class="icon"></i>
        </span>
        <span class="button__content">
            {{ content }}
        </span>
    </button>
</template>

<script>
export default {
    name: 'Button',
    props: {
        content: {
            type: String,
            default: 'Button'
        },
        icon: String,
        click: Function,
        classButton: {
            type: String,
            default: 'button-transparent'
        }
    },
    data() {
        return {};
    },
    methods: {
        onClick() {
            if (typeof this.click !== 'function') return;
            this.click();
        }
    }
};
</script>

<style lang="scss">
@import '@sass/variables';

.button {
    display: inline-flex;
    min-width: 64px;
    height: 24px;
    align-items: center;
    cursor: pointer;
    font-family: PT Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
    color: $color-default;

    &__icon {
        display: inherit;
        width: 19px;
        height: 19px;
    }

    &__content {
        display: inherit;
        margin-left: 11px;
    }
}

.button-transparent, .button-transparent:active, .button-transparent:focus {
    border: none;
    background: none;
    outline: none;
}

.button:hover {
    opacity: 0.7;
}

.button-find, .button-find:active, .button-find:focus {
    display: inline-block;
    border: none;
    background: $button-find-background;
    height: 47px;
    width: 131px;
    outline: none;
    border-radius: 0 3px 3px 0;
    color: white;
    text-align: center;
    font-size: 20px;

    .button__content {
        margin: 0;
    }
}
</style>
