<template>
    <div class="footage">
        <template v-if="showFootAge">
            <input type="text" placeholder="От" v-model="startFootAge" v-on:blur="changeStore"/>
            <input type="text" placeholder="До" v-model="endFootAge" v-on:blur="changeStore"/>
            <div class="footage__descr">м²</div>
        </template>
        <template v-else>
            <Button content="Добавить метраж"
                :click="onShowFootAge"
                class-button="button-transparent button-footage" />
        </template>
    </div>
</template>

<script>
import Button from '@components/Button';
import { mapActions } from 'vuex';
import FilterFootage from '@domain/FilterFootage';

export default {
    name: 'FilterFootAge',
    props: {
        showFootAge: {
            type: Boolean,
            default: false
        }
    },
    components: {
        Button
    },
    watch: {
        showFootAge: {
            handler() {
                this.startFootAge = null;
                this.endFootAge = null;
            },
            deep: true
        }
    },
    data() {
        return {
            startFootAge: null,
            endFootAge: null
        };
    },
    methods: {
        ...mapActions('search', ['setFilterFootage']),
        onShowFootAge() {
            this.$emit('onCheckFootAge', true);
        },
        changeStore() {
            const footage = new FilterFootage({ start: this.startFootAge, end: this.endFootAge });
            this.setFilterFootage(footage);
        }
    }
};
</script>

<style lang="scss">
.footage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 331px;
    margin-left: 19px;
    flex: 1;


    input {
        flex: 1;
        border: none;
        margin-left: 2px;
    }

    input:first-child {
        margin-left: 0;
        border-radius: 3px 0 0 3px;
    }

    &__descr {
        justify-content: center;
        display: flex;
        align-items: center;
        width: 55px;
        background-color: #C2E3F2;
        font-size: 18px;
        border-radius: 0 3px 3px 0;
    }

    .button-footage {
        width: 100%;
        height: 100%;
        border-radius: 3px;

        background: rgba(230, 242, 254, 0.0001);
        border: 1px solid #506981;
        box-sizing: border-box;

        font-size: 18px;
        line-height: 23px;
        align-items: flex-end;

        color: #506981;
        min-height: 47px;

        span {
            margin: auto;
        }
    }

}
</style>
