<template>
    <div class="price">
        <template v-if="showPrice">
            <input type="text" placeholder="От" v-model="startPrice" v-on:blur="changeStore"/>
            <input type="text" placeholder="До" v-model="endPrice" v-on:blur="changeStore"/>
            <select class="filtermain__select" value="1" v-model="currency" v-on:change="changeStore">
                <option v-for="item in currencies" :value="item.id" :key="item.id">{{item.name}}</option>
            </select>
        </template>
        <template v-else>
            <Button content="Добавить цену"
                    :click="onShowPrice"
                    class-button="button-transparent button-price" />
        </template>

</div>
</template>

<script>
import { mapActions } from 'vuex';
import FilterPrice from '@domain/FilterPrice';
import Button from '@components/Button';

export default {
    name: 'FilterPrice',
    props: {
        showPrice: {
            type: Boolean,
            default: false
        }
    },
    watch: {
        showPrice: {
            handler() {
                this.startPrice = null;
                this.endPrice = null;
                this.currency = 1;
            },
            deep: true
        }
    },
    components: {
        Button
    },
    data() {
        return {
            startPrice: null,
            endPrice: null,
            currency: 1,
            currencies: [
                { id: 1, name: '₽/месяц' },
                { id: 2, name: '$/месяц' },
                { id: 3, name: '€/месяц' }
            ]
        };
    },
    methods: {
        ...mapActions('search', ['setFilterPrice']),
        onShowPrice() {
            this.$emit('onCheckPrice', true);
        },
        changeStore() {
            const price = new FilterPrice({ start: this.startPrice, end: this.endPrice, currency: this.currency });
            this.setFilterPrice(price);
        }
    }
};
</script>

<style lang="scss">
.price {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 551px;
    flex: 1;

    input {
        flex: 1;
        border: none;
        margin-left: 2px;

    }

    input:first-child {
        margin-left: 0;
        border-radius: 3px 0 0 3px;
    }

    select {
        border-radius: 0 3px 3px 0;
    }

    .button-price {
        width: 100%;
        height: 100%;
        border-radius: 3px;

        background: rgba(230, 242, 254, 0.0001);
        border: 1px solid #506981;
        box-sizing: border-box;

        font-size: 18px;
        line-height: 23px;
        align-items: flex-end;
        min-height: 47px;

        color: #506981;

        span {
            margin: auto;
        }
    }
}


</style>
