<template>
    <div class="filtername wrapper">
        <input type="text" v-bind:placeholder="placeholder" v-model="nameObject"/>
        <Button content="Найти" class-button="button-find" :click="onFind"></Button>
    </div>
</template>

<script>
import Button from '@components/Button';

export default {
    name: 'FilterName',
    components: {
        Button
    },
    data() {
        return {
            nameObject: null,
            placeholder: 'Введите название объекта (бизнес-центра, торгового центра, новостройки, логопарка)'
        };
    },
    methods: {
        onFind() {
            this.$emit('onFind', this.nameObject);
        }
    }
};
</script>

<style lang="scss">
    @import '@sass/variables';

    .filtername {
        max-width: 900px;
        border-radius: 3px;
        display: flex;
        flex-direction: row;
        padding-top: 36px;
        padding-bottom: 27px;

        input {
            flex: 1;
            flex-wrap: wrap;
            border-radius: 3px 0 0 3px;
            border: none;
        }
    }
</style>
