<template>
    <div class="filtermain wrapper">
        <select class="filtermain__select" value="1" v-model="region">
            <option v-for="item in regions" :value="item.id" :key="item.id">{{item.name}}</option>
        </select>
        <select class="filtermain__select" value="1" v-model="action">
            <option v-for="item in actions" :value="item.id" :key="item.id">{{item.name}}</option>
        </select>
        <select class="filtermain__select" value="1" v-model="object">
            <option v-for="item in objects" :value="item.id" :key="item.id">{{item.name}}</option>
        </select>
        <Button content="Найти" class-button="button-find" :click="onFind"></Button>
    </div>
</template>

<script>
import Button from '@components/Button';

export default {
    name: 'FilterMain',
    components: {
        Button
    },
    data() {
        return {
            region: 1,
            action: 1,
            object: 1,
            regions: [
                { id: 1, name: 'Москва' },
                { id: 2, name: 'Московская область' },
                { id: 3, name: 'Краснодарский край' }
            ],
            actions: [
                { id: 1, name: 'Купить' },
                { id: 2, name: 'Снять' }
            ],
            objects: [
                { id: 1, name: 'Офис' },
                { id: 2, name: 'Склад' }
            ]
        };
    },
    methods: {
        onFind() {
            this.$emit('onFind', { region: this.region, action: this.action, object: this.object });
        }
    }
};
</script>

<style lang="scss">
@import '@sass/variables';

.filtermain {
    max-width: 900px;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 36px;
    padding-bottom: 27px;

    &__select {
        flex: 1;
        border: none;
        margin-left: 2px;
    }

    &__select:first-child {
        border-radius: 3px 0 0 3px;
        margin-left: 0px
    }

}
</style>
