<template>
    <div class="footer wrapper">
        <div class="footer__left">
            <div class="footer__main-filter">
                Основной поиск
            </div>
            <div class="footer__switch">
                <span class="material-switch pull-right">
                    <input id="filterType" name="filterType" type="checkbox" v-model="checkedType"/>
                    <label for="filterType" class="label-default"></label>
                </span>
            </div>
            <div class="footer__name-filter">
                Искать по названию
            </div>
        </div>
        <div class="footer__right" v-if="!showNameFilter">
            <Button content="Цена"
                :icon="checkedPrice ? 'delete' : 'plus'"
                :click="onShowPrice" />
            <Button content="Метраж"
                :icon="checkedFootAge ? 'delete' : 'plus'"
                :click="onShowFootAge" />
        </div>
    </div>
</template>

<script>
import Button from '@components/Button';

export default {
    name: 'Footer',
    components: {
        Button
    },
    props: {
        showNameFilter: {
            type: Boolean,
            default: false
        },
        showFootAge: {
            type: Boolean,
            default: false
        },
        showPrice: {
            type: Boolean,
            default: false
        }
    },
    watch: {
        showPrice: {
            handler(val) {
                this.checkedPrice = val;
            },
            deep: true
        },
        showFootAge: {
            handler(val) {
                this.checkedFootAge = val;
            },
            deep: true
        },
        checkedType: {
            handler(val) {
                this.$emit('onCheckType', val);
            },
            deep: true
        }
    },
    data() {
        return {
            checkedType: false,
            checkedFootAge: false,
            checkedPrice: false
        };
    },
    methods: {
        onShowPrice() {
            this.checkedPrice = !this.checkedPrice;
            this.$emit('onCheckPrice', this.checkedPrice);
        },
        onShowFootAge() {
            this.checkedFootAge = !this.checkedFootAge;
            this.$emit('onCheckFootAge', this.checkedFootAge);
        }
    }
};
</script>

<style scoped lang="scss">
.footer {
    display: flex;
    flex-direction: row;
    height: 100%;

    &__left {
        display: flex;
        width: 320px;
        align-items: center;
        height: 100%;
    }

    &__right {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: auto;
    }

    &__main-filter {
        line-height: 21px;
        letter-spacing: 0px;
    }

    &__switch {
        position: relative;
        width: 41px;
        height: 23px;
        margin: 0 11px;

        .material-switch {
            position: absolute;
            left: 0px;
            top: 0px;
        }
    }

    &__name-filter {
        line-height: 21px;
        letter-spacing: 0px;
        text-align: right;
    }
}
</style>
