<template>
    <div>
        <Search></Search>
        <SearchResult></SearchResult>
    </div>
</template>

<script>
import Search from '@views/search/Search';
import SearchResult from '@views/search/SearchResult';

export default {
    name: 'App',
    components: {
        SearchResult,
        Search
    }
};
</script>

<style src="@sass/app.scss" lang="scss" />
