<template>
    <div class="search">
        <div class="search__filter">
            <template v-if="showNameFilter">
                <FilterName @onFind="onFindName" />
            </template>
            <template v-else>
                <FilterMain @onFind="onFindFilter" />
                <div class="search__filter-extended wrapper" v-if="showPrice || showFootAge">
                    <FilterPrice
                        :showPrice="showPrice"
                        @onCheckPrice="onCheckPrice"/>
                    <FilterFootAge
                        :showFootAge="showFootAge"
                        @onCheckFootAge="onCheckFootAge" />
                </div>
            </template>
        </div>
        <div class="search__footer">
            <Footer
                @onCheckType="onCheckType"
                @onCheckPrice="onCheckPrice"
                @onCheckFootAge="onCheckFootAge"
                :showNameFilter="showNameFilter"
                :showPrice="showPrice"
                :showFootAge="showFootAge" />
        </div>
    </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import Footer from '@components/Search/Footer';
import FilterMain from '@components/Search/FilterMain';
import FilterName from '@components/Search/FilterName';
import FilterPrice from '@components/Search/FilterPrice';
import FilterFootAge from '@components/Search/FilterFootAge';
import FilterPriceDomain from '@domain/FilterFootage';
import FilterFootageDomain from '@domain/FilterPrice';

export default {
    name: 'Search',
    components: {
        FilterFootAge,
        FilterPrice,
        FilterName,
        FilterMain,
        Footer
    },
    computed: {
        ...mapState({
            searched: state => state.search.searched,
            filters: state => state.search.filter
        })
    },
    data() {
        return {
            searchedItems: [],
            showNameFilter: false,
            showPrice: false,
            showFootAge: false
        };
    },
    methods: {
        ...mapActions('search', ['setFilterPrice', 'setFilterFootage']),
        onCheckType(val) {
            this.showNameFilter = val;
        },
        onCheckPrice(val) {
            this.showPrice = val;

            if (!val) {
                const price = new FilterPriceDomain({ start: null, end: null });
                this.setFilterPrice(price);
            }
        },
        onCheckFootAge(val) {
            this.showFootAge = val;

            if (!val) {
                const footage = new FilterFootageDomain({ start: null, end: null });
                this.setFilterFootage(footage);
            }
        },
        onFindName(val) {
            this.$store.dispatch('search/getSearched', { params: val }).then(() => {
                this.searchedItems = this.searched;
            });
        },
        onFindFilter(val) {
            let filters = val;

            if (this.showPrice) {
                filters = { ...filters, price: this.filters.price };
            }

            if (this.showFootAge) {
                filters = { ...filters, footage: this.filters.footage };
            }

            this.$store.dispatch('search/getSearchedByFilter', filters).then(() => {
                this.searchedItems = this.searched;
            });
        }
    }
};
</script>

<style lang="scss">
@import '@sass/variables';

.search {
    max-width: 941px;
    min-height: 154px;
    margin: 20px auto;
    background-color: $search-background;
    position: relative;
    padding-bottom: 48px;

    &__filter {
        &-extended {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding-bottom: 35px;
        }
    }

    &__footer {
        position: absolute;
        width: 100%;
        height: 46px;
        bottom: 0;
        left: 0;
        background-color: $search-footer-background;
    }
}
</style>
