<template>
    <div class="searched_result wrapper">
        <table class="table">
            <tr>
                <th>Наименование</th>
                <th>Регион</th>
                <th>Объект</th>
                <th>Цена</th>
                <th>Метраж</th>
            </tr>
            <tr v-for="item in searched" :key="item.id">
                <td>{{item.name}}</td>
                <td>{{item.region.name}}</td>
                <td>{{item.object.name}}</td>
                <td>{{item.price}}</td>
                <td>{{item.footage}}</td>
            </tr>
        </table>
    </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
    name: 'SearchResult',
    computed: {
        ...mapState({
            searched: state => state.search.searched
        })
    }
};
</script>

<style lang="scss">
.searched_result {
    .table {
        border: 1px solid #aaa;
        border-collapse: collapse;
    }
    .table td {
        border: 1px solid #aaa;
    }
}
</style>
